*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#000;
font-family:'Cormorant Garamond',serif;
color:#8B0000;

display:flex;

min-height:100vh;

overflow:hidden;

}

.sidebar{

position:fixed;

right:0;

top:0;

width:230px;

height:100vh;

padding:60px 35px;

display:flex;

flex-direction:column;

gap:18px;

border-left:1px solid #240000;

background:#000;

}

.sidebar h2{

color:#8B0000;

font-size:28px;

margin-bottom:30px;

letter-spacing:3px;

}

.sidebar a{

text-decoration:none;

color:#8B0000;

font-size:22px;

transition:.3s;

}

.sidebar a:hover{

color:#b30000;

padding-left:8px;

}

.active{

font-weight:bold;

}

.main{

width:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

h1{

font-size:90px;

font-weight:600;

letter-spacing:12px;

margin-bottom:70px;

color:#8B0000;

}

.flipdown{

transform:scale(1.15);

}

@media(max-width:900px){

.sidebar{

width:170px;

padding:40px 20px;

}

.sidebar a{

font-size:18px;

}

h1{

font-size:55px;

letter-spacing:6px;

}

.flipdown{

transform:.8;

}

}
.main{
position:relative;
}

.flowers{
position:absolute;
bottom:0;
left:50%;
transform:translateX(-50%);
width:80%;
max-width:1100px;
opacity:.7;
filter:
brightness(1.4)
contrast(1.2)
hue-rotate(-15deg)
saturate(3);
pointer-events:none;
}
.flower-left,
.flower-right{
position:absolute;
bottom:0;
width:32%;
opacity:.7;
}

.flower-left{
left:0;
}

.flower-right{
right:0;
transform:scaleX(-1);
}

.flower-left img,
.flower-right img{
width:100%;
filter:brightness(1.6) sepia(1) saturate(8) hue-rotate(-25deg);
}
